run_config1
run_config12
run_config15_output
run_config2_output        
run_config6               
run_config9_output
run_config10              
run_config12_output       
run_config16              
run_config3               
run_config6_output        
run_config9_test
run_config10_output       
run_config13              
run_config16_output       
run_config3_output        
run_config7
run_config13_output       
run_config17              
run_config4               
run_config7_output
run_config11_output       
run_config14              
run_config17_output       
run_config4_output        
run_config8
run_config11_test         
run_config14_output       
run_config1_output        
run_config5               
run_config8_output
run_config11_test_output  
run_config15              
run_config2               
run_config5_output        
data/* 
__pycache__/*
models/*
*.tar
*.json
